.zoom {
  width: 20%;
  text-align: center;
}
.stack {
  width: 80%;
  text-align: center;
}
.box {
  background-color: '#abcccf';
  border: 1px solid #333;
  color: #333;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.input-range {
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  height: 200px;
}
