.App {
  margin: 1rem;
}

.container {
  display: flex;
}

nav {
  padding: 1rem;
  margin: 2rem;
  margin-top: 1rem;
  border-bottom: 1px solid #222;
}

h2 {
  margin: 2rem 0;
}

p {
  line-height: 1.5rem;
}
section {
  margin: 3rem;
  ul {
    margin-top: 2rem;
  }
  ul li {
    margin-bottom: 1rem;
  }
  p {
    line-height: 1.5rem;
  }
}

.diagram-container {
  margin: 1rem 3rem;
  h2 {
    margin: 2rem 0;
  }
  h3 {
    margin: 1rem 0;
  }
}

button {
  background-color: #fff;
  border: 1px solid #222;
  color: #222;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  &:hover {
    color: #fff;
    background-color: #222;
  }
}
